extends layout

block content
  h1= site.site
  img(src= site.img_url alt= site.site)
  h3= "Date Inscribed: " + site.date_inscribed
  h4= "Located: " + site.latitude + " " + site.longitude

  h5= site.category
  .content
    p #{site.description}
    
    //- - var states = visit.states.split(',')
    //- - for (var i = 0; i < states.length; i++)
    //-   | #{states[i]}
    //-   if (i + 1 < states.length)
    //-     | , 
        
  if visits
    each visit in visits
      p #{visit.date}: #{visit.img} at the site: #{visit.site_id}
  
  
  include footer.pug
