extends layout

block content
  h1= site.site
  img(src= site.img_url alt= site.site)
  h3= "Date Inscribed: " + site.date_inscribed
  h4= "Located: " + site.latitude + " " + site.longitude

  h5= site.category
  .content
    p #{site.description}
  include footer.pug
