extends layout

block content
  h1= site.site
  img(src= site.img_url alt= site.site)
  h3= "Date Inscribed: " + site.date_inscribed
  h4= "Located: " + site.latitude + " " + site.longitude

  h5= site.category
  .content
    p #{site.description}
        
  if visits
    h2= "Visits"
    each visit in visits
      p #{visit.date}: #{visit.img} at the site: #{visit.site_id}
  else
    h2= "This site has yet to be visited.  Soon... "
  
  
  include footer.pug
